.pagination{
  margin-left: 50px;
  display: flex;
}

.pagination>div{
  display: flex;
}

.pagination>button{
  /* background-color: #fcfcfc; */
  margin-left: 3px;
}

.currnet_page{
  background-color: #aaaaaa;
}